@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}

.header__icon {
    font-weight: 500;
    font-size: 1.8vw;
}

.header__list {
    display: flex;
    gap: 1.5vw;
    font-weight: 700;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 24px 20px;
    border-radius: 40px;
}

.header__link {
    text-decoration: none;
    color: black;
}

.header__button {
    border: none;
    color: white;
    background-color: #485C11;
    width: 6.7vw;
    height: 2.vh;
    padding: 15px;
    border-radius: 40px;
    font-weight: 700;
}

.heroblock {
    display: flex;
    flex-direction: column;
    gap: 347px;
    align-items: center;
}

.heroblock__title {
    font-size: 160px;
    font-weight: 400;
}

.heroblock__green {
    width: 1264px;
    height: 326px;
    background-color: #8E9C78;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 30px;
}

.ipad {
    bottom: -100px;

}

.blockpartners {
    display: flex;
    position: relative;
    background-color: white;
    padding: 60px 0px;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}

.blockBenefits__texttitle {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 50px;
}

.blockpartners__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.heroblock__subtitle {
    color: #6F6F6F;
}

.blockBenefits__conteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blockBenefits__block {
    width: 300px;
}

.blockBenefits__block {
    display: flex;
    flex-direction: column;
    gap: 22px;
    transition: transform 0.4s ease;
}

.blockBenefits__block:hover {
    transform: translateY(-6px);
}

.blockBenefits__icons {
    width: 24px;
    height: 24px;
    margin-top: 40px;
}

.blockBenefits__title {
    color: #485C11;
    font-weight: 500;
}

.blockBenefits__subtitle {
    font-size: 60px;
    font-weight: 400;
}

.blockBenefits__text {
    color: #6F6F6F
}

.heroblock__subtitle {
    margin-bottom: 50px;
}

.blockBenefits__img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    margin-top: 100px;
    border-radius: 30px;
}

.picture {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

.picture__content {
    width: 50%;
}

.picture__title {
    font-size: 60px;
    margin-bottom: 40px;
}

.picture__text {
    color: #555;
    margin-bottom: 24px;
    font-size: 15px;
}

.picture__list {
    list-style: none;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.picture__item {
    margin-bottom: 12px;
    color: #333;
    padding-top: 30px;
    border-top: 1px solid #c0b6b6;
}

.picture__item span {
    margin-right: 10px;
    color: #999;
}

.picture__button {
    padding: 14px 22px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    background: #DFECC6;

}

.picture__image {
    width: 50%;
    height: 800px;
    border-radius: 30px;
    object-fit: cover;
}

.picture__image img {
    width: 100%;
    border-radius: 24px;
}

.compare {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.compare__label {
    font-size: 14px;
    color: #999;
    margin-bottom: 40px;
    color: #485C11;
}

.compare__title {
    font-size: 40px;
    margin-bottom: 40px;
    font-size: 60px;
}

.compare__text {
    color: #555;
    margin-bottom: 24px;
}

.compare__space {
    display: flex;
    justify-content: space-between;
}

.compare__button {
    padding: 12px 22px;
    border-radius: 20px;
    border: none;
    background: #dce9c9;
    margin-bottom: 50px;
    width: 138px;
}

.compare__table {
    display: flex;
    gap: 20px;
    text-align: left;
    justify-content: space-between;
}
.compare__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare__column {
    flex: 1;
    padding: 24px;
    border-radius: 16px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
}

.compare__heading {
    margin-bottom: 20px;
    font-size: 25px;
    padding: 30px 40px;
    border-bottom: 1px solid #333;

}

.compare__row {
    margin-bottom: 12px;
    color: #333;
    padding: 30px 32px;
}

.testimonial {
    display: flex;
    gap: 80px;
    margin-top: 100px;
    justify-content: space-between;
}

.testimonial__image {
    width: 50%;
}

.testimonial__image img {
    width: 100%;
    border-radius: 28px;
    transition: transform 0.6s ease;
}

.testimonial__image img:hover {
    transform: scale(1.03);
}


.testimonial__content {
    width: 50%;
}

.testimonial__quote {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: black;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
    width: 540px;

}

.testimonial__author {
    display: flex;
    flex-direction: column;
}

.testimonial__name {
    font-size: 14px;
    font-weight: 600;
}

.testimonial__role {
    font-size: 12px;
    color: #777;
}

.testimonial__img {
    width: 50%;
    height: 670px;
    object-fit: cover;
    border-radius: 30px;
}

.steps {
    margin-top: 100px;
}



.steps__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.steps__title {
    font-size: 48px;
}

.steps__button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: #dce9c9;
    cursor: pointer;
}


.steps__list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.steps__item {
    flex: 1;
}

.steps__line {
    height: 1px;
    background: #e5e5e5;
    margin-bottom: 30px;
}


.steps__number {
    display: block;
    font-size: 80px;
    color: #999;
    margin-bottom: 20px;
}

.steps__heading {
    font-size: 18px;
    margin-bottom: 10px;
}

.steps__text {
    font-size: 18px;
    color: #666;
    width: 390px;
}


.steps__item {
    transition: transform 0.4s ease;
}

.steps__item:hover {
    transform: translateY(-6px);
}

.steps__img {
    width: 100%;
    height: 620px;
    object-fit: cover;
    margin-top: 100px;
    border-radius: 30px;
}

.footer {
    padding: 40px 0px;
    border-top: 1px solid #e5e5e5;
    background: #fff;
}


.footer__top {
    margin-bottom: 40px;
}

.footer__nav {
    display: flex;
    gap: 24px;
}

.footer__link {
    font-size: 14px;
    color: #111;
    text-decoration: none;
    position: relative;
}

.footer__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background: #111;
    transition: width 0.3s ease;
}

.footer__link:hover::after {
    width: 100%;
}


.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__brand img {
    height: 24px;
}

.footer__copy {
    font-size: 12px;
    color: #777;
}

.footer__rights {
    font-size: 12px;
    color: #777;
}
.footer__logo{
    width: 32px;
    height: 70px;
}
.iphone{
    display: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}


img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.02);
}

button {
  transition: transform 0.4s ease, background-color 0.4s ease;
}

button:hover {
  transform: translateY(-2px);
  background-color: #111;
  color: white;
}
.ipad {
  position: absolute;
  bottom: -120px;
  animation: ipadUp 1.6s ease forwards;
}
section {
    opacity: 0;
    animation: pageFade 1.6s ease-out forwards;
}

@keyframes ipadUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pageFade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1280px){
    .heroblock{
        text-align: center;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__quote{
        font-size: 32px;
       
    }
    .testimonial__content{
        width: 49%;
    }
    .heroblock__green{
        width: 1100px;
    }
}
@media screen and (max-width: 1165px){
    body{
        padding: 20px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__quote{
        font-size: 28px;
       width: 400px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 90%;
    }
    .heroblock__green{
        width: 900px;
    }
    .header__list{
        left: 50%;
    }
    .header__icon{
        font-size: 20px;
    }

}
@media screen and (max-width: 930px){
    body{
        padding: 20px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__quote{
        font-size: 25px;
       width: 320px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 150%;
    }
    .heroblock__green{
        width: 700px;
    }
    .header__list{
        left: 45%;
    }
    .blockpartners{
        flex-wrap: wrap;
    }
    .compare__table{
        gap: 0;
        flex-wrap: wrap;
    }
    .compare__column{
        border: 1px solid;
        justify-content: center;
        align-items: center;
    }
    .header__icon{
        font-size: 20px;
    }

}
@media screen and (max-width: 790px){
    body{
        padding: 20px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__quote{
        font-size: 25px;
       width: 300px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 150%;
    }
    .heroblock__green{
        width: 600px;
    }
    .header__list{
        left: 45%;
    }
    .blockpartners{
        flex-wrap: wrap;
    }
    .compare__table{
        gap: 0;
        flex-wrap: wrap;
    }
    .compare__column{
        border: 1px solid;
        justify-content: center;
        align-items: center;
    }
    .heroblock__title{
        font-size: 150px;
    }
    .header__list{
        width: 400px;
        left: 53%;
    }
    .header__button{
        font-size: 8px;
    }
    .ipad{
        display: none;
    }
    .iphone{
        display: block;
        position: absolute;
        bottom: -0px;
    }
    .blockBenefits__conteiner{
        flex-wrap: wrap;
    }
    .header__icon{
        font-size: 20px;
    }

}
@media screen and (max-width: 720px){
    body{
        padding: 20px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__quote{
        font-size: 25px;
        width: 250px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 150%;
    }
    .heroblock__green{
        width: 600px;
    }
    .header__list{
        left: 33%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        background-color: pink;
    }
    .header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__icon{
        display: none;
    }
    .blockpartners{
        flex-wrap: wrap;
    }
    .compare__table{
        gap: 0;
        flex-wrap: wrap;
    }
    .compare__column{
        border: 1px solid;
        justify-content: center;
        align-items: center;
    }
    .heroblock__title{
        font-size: 130px;
    }
    .header__list{
        width: 4 00px;
        position: relative;
    }
    .header__button{
        font-size: 12px;
        width: 90px;
    }
    .ipad{
        display: none;
    }
    .iphone{
        display: block;
        position: absolute;
        bottom: -0px;
    }
    .blockBenefits__conteiner{
        flex-wrap: wrap;
    }
    .header__link{
        color: #C82922;
        font-family: "Rubik Wet Paint", system-ui;
    }
    .header__link:hover{
        color: #ffdb58;
        font-family: "Rubik Wet Paint", system-ui;
    }
}
@media screen and (max-width: 614px){
    body{
        padding: 20px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__img{
        width: 100%;
    }
    .testimonial__quote{
        font-size: 22px;
       width: 400px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 150%;
    }
    .heroblock__green{
        width: 400px;
    }

    .header__list{
        left: 45%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        background-color: pink;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__icon{
        display: none;
    }
    .blockpartners{
        flex-wrap: wrap;
    }
    .compare__table{
        gap: 0;
        flex-wrap: wrap;
    }
    .compare__column{
        border: 1px solid;
        justify-content: center;
        align-items: center;
    }
    .heroblock__title{
        font-size: 80px;
    }
    .header__list{
        width: 4 00px;
        position: relative;
    }
    .header__button{
        font-size: 12px;
        width: 90px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .ipad{
        display: none;
    }
    .iphone{
        display: block;
        position: absolute;
        bottom: -0px;
    }
    .blockBenefits__conteiner{
        flex-wrap: wrap;
    }
    .header__link{
        color: #C82922;
        font-family: "Rubik Wet Paint", system-ui;
    }
    .header__link:hover{
        color: #ffdb58;
        font-family: "Rubik Wet Paint", system-ui;
    }
    .picture{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .picture__image{
        width: 100%;
    }
    .testimonial{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    body{
        padding: 18px;
    }
    .testimonial{
        gap: 30px;
    }
    .testimonial__img{
        width: 100%;
    }
    .testimonial__quote{
        font-size: 22px;
       width: 200px;
    }
    .testimonial__content{
        width: 49%;
    }
    .ipad{
        width: 150%;
    }
    .heroblock__green{
        width: 250px;
    }

    .header__list{
        left: 45%;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        background-color: pink;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .header{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__icon{
        display: none;
    }
    .blockpartners{
        flex-wrap: wrap;
    }
    .compare__table{
        gap: 0;
        flex-wrap: wrap;
    }
    .compare__column{
        border: 1px solid;
        justify-content: center;
        align-items: center;
    }
    .heroblock__title{
        font-size: 50px;
    }
    .header__list{
        width: 200px;
        position: relative;
        left: 50%;
    }
    .header__button{
        font-size: 12px;
        width: 90px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .ipad{
        display: none;
    }
    .iphone{
        display: block;
        position: absolute;
        bottom: -0px;
    }
    .blockBenefits__conteiner{
        flex-wrap: wrap;
    }
    .header__link{
        color: #C82922;
        font-family: "Rubik Wet Paint", system-ui;
    }
    .header__link:hover{
        color: #ffdb58;
        font-family: "Rubik Wet Paint", system-ui;
    }
    .picture{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .picture__image{
        width: 100%;
    }
    .testimonial{
        flex-direction: column;
    }
    .steps__item{
        width: 200px;
    }
    .steps__text{
        font-size: 9px;
        width: 232px;
    }
    .steps__button{
        display: none;
    }
    .compare__column{
        padding: 5px;
    }
}
